main {
    background-color: #d3eae2;
    min-height: 800px;
    padding-bottom: 80px;
}

hr {
    color: #29534d;
    padding: 2px;
}


body {
    max-width: 100%;
}


.row {
    max-width: 100%;
}

.input-group-text {
    background-color: #7fc4b8;
    border: 3px solid #52a295;
    border-right: 0px;
    font-weight: bold;
    color: #29534d;
}

.form-control {
    border: 2px solid #52a295;
}


.trapecio1 {
    height: 85%;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    border-right: 32vw solid #52a295;

    position: fixed;
    right: 0px;

    top: 100px;
}

.trapecio2 {
    height: 85%;
    border-bottom: 270px solid transparent;
    border-top: 270px solid transparent;
    border-right: 33vw solid #468d81;

    position: fixed;
    right: 0px;

    top: 100px;
}

.trapecio3 {
    height: 10%;
    border-bottom: 400px solid transparent;
    border-top: 400px solid transparent;
    border-right: 32.6vw solid #31665d;

    position: fixed;
    right: 0px;

    top: 110px;
}

.trapecio4 {
    height: 80%;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    border-right: 31vw solid #7fc4b8;

    position:fixed; 
    right: 0px; 

    top: 125px;
}

.imgventa {
    width: 27vw;
    height: 11vw;
    border: 3px solid #52a295;
    border-radius: 10px;
    object-fit: cover;
}

.info {

    position: absolute;
    right: 30px;
    top: 240px;

}

.price {
    color: rgb(0, 126, 0);
}

.form-select {
    border: 2px solid #52a295;
    background-color: #bcf5eb;
    padding: 10px;
    font-size: 18px;
}

.fit {
    width: 27vw;
    height: auto;
    font-size: 18px;
}

.trapecioCont {

    position: fixed;
    right: 0px;

    top: 0px;
}

#check {
    display: none;
}

.open {
    background-color: rgba(128, 0, 0, 0);

    position: relative;
    bottom: -146px;

    width: 2vw;
    height: 15vw;
    text-align: center;
    cursor: pointer;
}

.sidebarMenu {
    right: -31vw;
}

.form-check-input:checked {
    background-color: #52a295;
    border-color: #468d81;
}

.fotoCart {
    height: 34px;
    width: auto;
    margin-bottom: 4px;
    border: 1px solid #31665d;
    border-radius: 2px;
}



.cartItem:hover {
    border: 3px solid #52a295;
    border-radius: 4px;
    background-color: #7fc4b8;
}

.mtop {

    margin-top: 100px;


}

.cartLine {
    width: 97.5%;
    padding: 1px;
}

.endCartLine {
    width: 97.5%;

}

.form-check-input {
    display: none;
}

.form-check-label {
    font-size: 22px;
    font-weight: 300;
}

.sendCheckbox {
    color: #31665d;
    cursor: pointer;
}


.border-total1 {
    border: 1.5px solid #468d81a2;
    border-radius: 5px 5px 0px 0px;
    background-color: #468d812d;
    padding: 8px;
}

.border-total2 {
    border: 1.5px solid #468d81a2;
    border-radius: 0px;
    background-color: #468d812d;
    padding: 8px;
}

.border-total3 {
    border: 1.5px solid #468d81a2;
    border-radius: 0px 0px 5px 5px;
    background-color: #468d812d;
    padding: 8px;
}

.borderRadius {
    border-radius: 7px;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    bottom: -4px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #31665d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #52a295;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.greenTxt {
    color: #29534d;
}

.modal{
    background-color: #052b2488;
}

.modal-content {
    background-color: #d3eae2;
}

.modal-header {
    border-bottom: 2px solid #448b81;
}

.modal-footer {
    border-top: 2px solid #448b81;
}

.payOption1 {
    min-width: 100px;
    min-height: 200px;
    border-radius: 14px 0px 0px 14px;

}

.payOption2 {
    min-width: 100px;
    min-height: 200px;
    border-radius: 0px 14px 14px 0px;
}

.payments {
    margin: 2px;
}

.payIcon {
    font-size: 100px;
}

.buyButton {
    min-height: 50px;
}

#modalSuccess {
    background-color: #2195f300;

}